$body-color: rgb(13, 13, 168);
.fondo{
    color:$body-color;
}

$logo-color: hsl(147, 85%, 23%);
.LogoStyle{
    color:$logo-color;
    font-size: 2rem;
}


$labelColor: greenyellow;
.app{
    label{
        color: $labelColor;
    }
}